<mat-toolbar>
    <span>
        <a mat-button routerLink="">
           <mat-icon>local_movies</mat-icon>Angular películas
        </a>
    </span>

     <div>
        <a mat-button routerLink="peliculas/filtrar">
          <mat-icon>search</mat-icon>
          Buscar Películas</a>
    </div>

    <div>
        <a mat-button routerLink="generos">Géneros</a>
    </div>
     <div>
        <a mat-button routerLink="actores">Actores</a>
    </div>
     <div>
        <a mat-button routerLink="cines">Cines</a>
    </div>
     <div>
        <a mat-button routerLink="peliculas">Películas</a>
    </div>
      <div>
        <a mat-button routerLink="peliculas/crear">Crear Películas</a>
    </div>

</mat-toolbar>
